$heading-text-color: #ff8f00;
$action-button-color: #ff8f00;

body {
  line-height: 1.7em;
  text-align: center;
  background-color: #2b2b2b;
  color: #FFF;
  font-family: 'Fauna One', serif;
}
div.main {
  display: inline-block;
  margin: 10vh 0;
  padding: 0 2vh;
  text-align: left;
  max-width: 30em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Telex', sans-serif;
  color: $heading-text-color;
}

h1 { font-size: 2.75em; }
h2, h3 { margin: 2em 0 1em 0; }

.nav, h1, h2, h3, h4, h5, h6, p { max-width: 90vw; }

a {
  color: rgba($heading-text-color, 1);
  text-decoration: none;

  &:focus,
  &:hover { color: #3c7dc4; }
  &:visited { color: #cc7200; }
}

.box-shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-header {
  & a {
    position: relative;
    text-shadow: #2b2b2b 1px 1px 0;
    &:visited { color: $heading-text-color; }
  }
  position: relative;
  margin: 2em 0;
}
i.frac {
  background: url("../img/transfrac.png") no-repeat scroll left center/3.75em 3.125em transparent;
  width: 3.625em;
  height: 3.125em;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -0.9em;
}

@mixin glyph($name) {
  display: inline-block;
  width: 2em;
  height: 2em;
  background: {
    size: 65%;
    image: url("/img/glyph/"+$name+".png");
    repeat: no-repeat;
    attachment: scroll;
    position: center center;
    background-color: #e68100;
  }
}

.glyph-small { width: 1em; height: 1em; }
.glyph-cogwheels { @include glyph('cogwheels'); }
.glyph-home { @include glyph('home'); }
.glyph-projector { @include glyph('projector'); }
.glyph-nameplate_alt { @include glyph('nameplate_alt'); }
.glyph-message_new { @include glyph('message_new'); }

.nav {
  & a, &a:visited { color: $heading-text-color; }
  & li:hover a { color: #3c7dc4; }
  & li:hover i { background-color: #3c7dc4; }

  margin: 0;
  padding: 2em 0;
  position: relative;
  background-color: #2b2b2b;
  & li {
    text-align: center;
    display: inline-block;
    list-style: none outside none;
    margin-right: 2%;
  }
  & i {
    box-shadow: #2b2b2b 1px 1px 0 0, inset #888888 0 1px 0;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 0.1875em;
    background-color: #e68100;
  }
}

pre.prettyprint { width: 40em; }

.post-list {
    padding: 0;
    line-height: 3em;
    & li {
        list-style: none;
        font-size: 1.5em;
    }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.btn, .btn:visited {
  display: inline-block;
  border-radius: 5px;
  padding: .2em .6em;
  font-family: 'Telex', serif;
  background-color: $action-button-color;
  color: #000;
}

.stuck.top {
  position: fixed;
  top: 0;
}

.contactform {
    @extend .box-shadow;
    width: 100%;
    max-width: 400px;
    background: #070707;
    padding: 25px;
    margin: 80px auto;
    box-sizing: border-box;
}
.contactform h2 { font-size: 2em; padding: 0; }
.contactform h3 { font-size: 1em; padding: 0; }
.contactform textarea, .contactform input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
    }
    &:focus {
        border: 1px solid #aaa;
    }
}
.contactform textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}
.contactform button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #FBC547;
    color: black;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    &:hover {
        background: darken(#FBC547, 10%);
        transition: background-color 0.3s ease-in-out;
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
}
.contactform fieldset {
    display: flex;
    border: medium none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

