.column
  :markdown
    ##February 18, 2012
    ###Basis Vector
    - A normalized vector that defines a "basis" for a coordinate scheme.
      Basis vectors are orthogonal to each other,
      and they are often written with a "hat." (Like this: i$\hat{i}i$)
    
    ###Normalized Vector
    - A vector with a length of one. A normalized vector can be applied to a scalar to give it direction.

    ###Orthogonal Vectors
    - When the dot product of two vectors is zero, they are said to be orthogonal. For example, two perpendicular lines are orthogonal.
   
    ---

    There are as many basis vectors as there are dimenions in a coordinate scheme.
   
    Thus: a 3D rectangular scheme (called i$ℝ^{3}i$ for Real, 3 dimensions)
    has 3 basis vectors, all perpendicular to each other.
   
    ---

    You often see i, j, and k used as basis vectors. These usually refer to i$ℝ^{3}i$
   
    You can write them out in vector form.
    $$\hat{i} = (1, 0, 0)$$ $$\hat{j} = (0, 1, 0)$$ $$\hat{k} = (0,0,1)$$
   
    ---

    They are useful because you can describe any point in a coordinate system as a sum of the basis vectors, multiplied by a number.
   
    $$(3, 4, 5)$$
   
    Means the same as...
    $$3\hat{ i} + 4\hat{j} + 5\hat{k}$$
   
    It can make addition and multiplication conceptually simpler.
