.column
  :markdown
    ##February 19, 2012
    ###The Commutative Property:
    - An operation on some things gives the same result, regardless of the order of those things. For example, multiplication: A*B = B*A 
   
    It is the same to say "this operation is commutative" as it is to say "the commutative property is true for this operation."
   
    Multiplication is commutative. The order of multiplication for two numbers or variables is not important.

  %p
    $$3*2 = 2*3 = 6$$
    $$a*b = b*a$$
  :markdown
    Cross-products do not commute. Crossing two vectors in one order gives a different result than crossing them in the other order.
    $$\vec{A}\times  \vec{B} = \vec{C}$$ $$\vec{B} \times \vec{A} = -\vec{C}$$ 
