.column
  :markdown
    ##January 20, 2013

    A few weeks ago, my landlord came over to do a little work on the house.

    "My family has an extra ticket for Snowshoe if you're interested," she said.
    
    My first thought was, "No, not interested.  I don't have the time.  I need to work on my startups."  But I paused a bit.  This might be my single most opportune moment to ever go skiing.  Hell, it might even be good for me.

    "Yes, that sounds awesome.  I'll be there Wednesday morning and leave in the evening."
    
    "It's a two-and-a-half hour drive.  Are you sure you want to marathon it?" said her boyfriend.

    "You're right, I'll be there Tuesday night at around seven-thirty.  Where should I get my gear?"

    "There is a place at the mountain, but it will be cheaper to visit _______ nearby."

    "Cool, I'll get my stuff there."

    "By the way, you won't be able to use your phone up there, so we can't help if you get lost."

    "I'll be ok, thanks."

    -----------------------------------

    Tuesday morning, I'm gathering phone numbers for a cold-calling run.  It's time to test another business model.

    "Better check the weather.  Better plan ahead.  Let's see, get there at 7:30, hit the road at 4:30, rent the gear at 3:30.  I should be fine."

    As planned, I finished calling the list at 3:30, but I didn't account for the follow-up emails.  So, I reach the shop at 4:15, refuel, and leave closer to 5:00.  Not bad, but it's raining and it's getting dark.

    Climbing the Appalacian ridge, I am enveloped in a black cloud on a wet and curvy road.  Sometimes, it's just me and the car and the road.  As soon as I get to West Virginia, I check my directions and clear the trip odometer.  It's 7:30.  I'm still another hour away, and there's no way for me to call the place.

    Eventually, I see signs for the resort, and I abandon the directions.  Street signs lie less than maps.  I reach a lobby near the condos and stop for directions.  I arrive at 9:30, explain about the fog, and chat for a bit over a reheated dinner (a delicious beef stew).

    -----------------------------------

    We get to the slopes and I'm told about <a href="http://learnbydiagram.blogspot.com/2012/01/learn-how-to-ski-south-park-style.html">pizza and french fries</a>.  I try both positions to see how it feels and move toward the ski lift.

    That first drop, no matter how small, is scary.  I thought, "let it happen, and if you fall, get back up and try again."  To my astonishment, I didn't fall.  Instead, I was exhilerated.  Feeling both eager and uneasy, I was forced into a relaxed awareness.

    I stopped at the lift and listened to the mechanical whir while the rest of the group caught up.

    "Are you sure you've never done this before?  You're a natural!"

    "Yep, I've never been skiing.  It's pretty awesome, though."

    "Clearly, you not bothered by a little speed.  This  lift will take us up to a green slope I'll show you how to get on.  Wait at this line until just when one of the seats passes us.  Then, use your poles to push yourself to the next line.  Use your poles to stop yourself and then wait for the chair to pick us up.  Are you ready?"

    "Sure, let's go."

    And we did exactly that.  I enjoyed feeling my skiis slide over the path as we were pushed forward by the chair.  The whole experience of boarding a ski lift is highly enjoyable, and it requires a high level of attention.

    As we ascend through the valley, we discuss plans.  We will stick together at first, but some of the others will take on harder slopes while I hang back on the green slopes with someone who will practice a new footing for the snowboard.

    The exit approaches, and we raise the bar on the seat.

    "Turn your skiis up and stand up when you are on the ramp.  We will veer to the left and wait for the others."

    Exiting a ski lift is almost as fun as boarding one.

    The others meet us and we move to the gradual slope that connects the trails.  Most of them take the easy way, but there is a series of small hills between the trees that one of the others takes.  I follow him and I am not prepared for the hills.  My knees are too stiff, so I am launched a few feet forward out of the third hill and then I skid through the snow.  It's my first fall, and I laugh at my own foolishness.  I should have thought about how to deal with those hills, but I didn't.  Oh well, I pick myself up and keep going.  Lesson learned.

    -----------------------------------

.column
  :markdown
    After a few runs through the green hills, I decided to try a blue one.  After all, the others said I could probably handle it.  I thought the first drop in the connector path was scary this morning.  This little blue hill was even more bothersome.  I took the plunge.  Before I know it, I'm too fast, and I'm out of control.  I steer away from the lift supports, and I try to sit while forming the wedge.  It isn't working.  It's time to stop this.  I point myself toward a clear path and turn my ankle ever so slightly as to push my shoulders up and forward, skidding 20 feet or so until I stop.  I lost a ski about 10 feet behind me and my pride about 50 feet back.

    My partner catches up and hands off my ski.

    "Are you ok?  That was sort of a nail biter."

    "Yes, I'm fine and clearly not ready for this hill."

    "Yeah, my family is all about speed and pushing yourself, but I don't think that is the way to learn."

    So we stick to the green slopes for a bit.  I realized that my problem was that I didn't learn to fully control my speed, so I spent my time working on that.  I practiced "traversing" by moving back and forth across the hill.  Before long, I built up my confidence for that blue hill.  I tried again.

    This time, I approached the slope from an angle.  Maybe I can zig-zag my way down.

    It worked at first, but I lost control at the bottom of the hill.  I made a light fall and continued on, no problem.

    We went back for lunch, and I decided that I must try a black slope by the end of the day.

    After lunch, I worked on that blue hill until I could make it without falling.  I then worked my way up through progressively harder hills until the black hills would be closed.

    I go with someone to the black slope, and we watch some other people attack the first drop before I feel ready to continue.  I begin at an angle, unlike the others we had watched.  I feel the flow with the gravity, the snow, and the land.  I let Gravity do its work as the snow crunches under the skiis during each turn.  It is truly a joy.

    And I didn't fall once on that hill.

    -----------------------------------

    We went back to the condo, and I prepared for my journey home.  I must say that I enjoyed spending time with my landlord and her family.  They are good, intelligent people.

    The entire experience, from preparing for the journey until returning from it, required a high level of awareness, faith, and caution.  It was worth every minute and penny at least.<br></p>
