.column
  :markdown
    ##February 27, 2012 
    I just found [this cool tutorial on graph theory] (http://www.utm.edu/departments/math/graph/). Props to Chris K. Caldwell and the math department at UTK. I learned the basics without even realizing it. Seriously, go check it out.

    Maybe I can find some cool ways to apply graph theory to programming. If I do, it is sure to be posted here.
