.column
  :markdown
    ##February 19, 2012
    The imaginary numbers: i, j, and k behave like so when multiplied:
   
    $$\hat{i}^{2} = \hat{j}^{2} = \hat{k}^{2} = -1$$
    $$\hat{i}\hat{j} = -\hat{j}\hat{i} = \hat{k}$$
    $$\hat{j}\hat{k} = -\hat{k}\hat{j} = \hat{i}$$
    $$\hat{k}\hat{i} = -\hat{i}\hat{k} = \hat{j}$$
   
    Note that imaginary multiplication is commutative.

  %img{:src=>'/img/cross-product-150x150.jpg', :alt=>'Mnemonic for multiplying i, j, and k'}
   
  :markdown
    I found this graphic in Griffith's Electrodynamics.  You can use it to help you remember the rule.
   
    Going clockwise, multiplying two units will create the next unit.
   
    Going counter-clockwise, multiplying two units will make the negative of the next unit.
   
    Think ijk... alphabetical... if you go backwards, it's negative.
    Sir William Rowan Hamilton chose these rules so quaternions would multiply in a way that made sense. He thought it was so important that he carved them into Broom Bridge on his way home. He wanted to make sure they were written down in case he died. You can't see the markings today, but it is a very famous story. 

:sass
  img
    float: left
    padding-top: 1.5em
    padding-right: .5em
