.column
  :markdown
    ##December 9, 2013
    ### List Out of Lambda

    I just mentioned this paper during an interview and forgot who wrote it.
    It took forever for me to find it.  If you're at all curious about
    functional programming, and you already know Javascript, check it out.

    After working through it over the course of a few days, I gained a
    much better appreciation for functional programming.

    <a href="http://stevelosh.com/blog/2013/03/list-out-of-lambda/">List Out of Lamba: Steve Losh</a>
