.column
  :markdown
    ##May 14, 2018
    ###Math and Making Mistakes

    "I'm not a math person."

    "If I make my handwriting really bad, nobody will know I got the wrong answer."

    These are some of the things I hear from new students.

    Who can blame them?

    Almost every day, children are measured, corrected, and held under a microscope.
    In some cases, they are ridiculed by their peers at every misstep.
    Their mistakes, miscalculations, and errors become weaknesses to hide, rather than the beacons they are.

    These are intelligent people who learned to doubt themselves.
    They learned that their mistakes define who they are and not who they can become.
    They learned to stop trying.

    When we find that we are wrong, we find an opportunity to grow.
    Our mistakes light the way to our better selves.
    Without those faltering steps, we would be static and aimless, never moving forward.

    Some of humanity's greatest achievements were the result of mistakes:

    * Alexander Fleming discovered the antibiotic properties of penicillin after accidentally leaving a petri dish exposed to mold.
    * Microwave ovens were accidentally discovered by Percy Spencer who accidentally walked in front of a beam with a chocolate bar in his pocket.
    * Dynamite was discovered when Alfred Nobel spilled nitroglycerine on sawdust and survived. He thought it would explode, but the sawdust stabilized the chemical enough to make it suitable for controlled demolition.

    When we are wrong, we sometimes make a mess of things and sometimes we hurt people.

    However, we cannot learn from our mistakes if we are not making mistakes at all.

    We can move forward and make the best of it. We can get better, stronger, and smarter every day.

    We can watch; we can practice; and when we are ready, we can enjoy the things we may have once feared.
