.column
  :markdown
    ##January 1, 2014
    ### My Average Salary

    I started a salary lookup database, because I got tired of the
    [BLS](http://bls.gov/) website's interface and thought I could do one better.

    Man, it was a pain in the butt!! 11 million rows, and I generated the sql
    to load them into my database with a Ruby script.  That was after I
    generated the schema from phpMyAdmin and cut up the dump files.  But that
    could only happen after I reverse engineered the sql schema from the tsv files
    provided by the BLS.

    Anyway, check you can check it out here: [My Average Salary](http://myaveragesalary.com)

    I would like to add cost-of-living data to it, but I'm stuck optimizing queries right now.
