.column
  :markdown
    This is important, but it is rarely explained well, probably because it is so simple.
   
    A few quantities share units but not meaning.
   
    - Movement and Distance (distance)
    - Work and Energy (force*distance)
    - Impulse and Momentum (force/time)
   
    One is a verb turned into a noun, and the other is an adjective turned into a noun.
   
    It is that simple. In other words...
   
    - Work changes Energy.
    - Impulse changes Momentum.
    - Movement changes Position.
   
    About the object itself
   
    - 10J of work changes the energy of an object by 10J.
    - 10N*s of impulse changes the momentum of an object by 10kg*m/s.
    - 10m of movement changes the distance of an object by 10m.
   
    About the relationship between objects
   
    - 10J of work transfers 10J of energy between objects.
    - 10N*s of impulse transfers 10N*s of momentum between objects.
    - 10m of movement can introduce or remove 10m of distance between objects.

:sass
  .column li
    padding-top: 0.5em
   
