.column
  :markdown
    This essay helped me win the Bowden Physics Essay Prize at Virginia Tech. The purpose of the contest was to write a non-technical essay about a particular topic in Physics. Enjoy!
   
    ----

    Light from the rising sun greets your cheeks warmly. Good morning. It is 7:25am, and you have the day off. Something is different about the air today; breathing deeply, the crisp awakens your lungs. It is the perfect day for a hike. You quickly make a few snacks and fill your water jug, throwing them into your backpack, not worrying too much about the extra weight.
   
    You toss your supplies into the car as you make up your mind about where to go. It is a beautiful morning, for sure, but you’ve been missing out on a lot of hiking, lately. You don’t know how you’ll feel after a few hours of walking, so you decide to hike the Old Oak Way. Three miles into it are the Sandy Springs: a nice view next to a small stream: a great spot for picnicking. If, by then, you’re still ready for more adventure, you can hike another three miles to Charlie’s Peak, an excellent lookout at the top of the ridge. Traveling twice the distance means using about twice the effort, but the spectacular view is tempting, especially now in the spring.
   
    You finally reach Old Oak Way and park on the side of the road (it was a 40 minute drive). You grab your backpack and make your way to the path. You know it takes you 6 hours to reach the peak and get back to your car (at a leisurely pace), but you’re feeling adventurous today. You decide to make up for those lost trips and hike the trail in 4 hours. You’ll have to use some extra effort to pick up the pace, but you’ve been meaning to get the exercise.
   
    Of course it would take more effort to carry more weight, walk further, or walk faster. Why did I even bother to mention it? The point is that this effort represents an important idea has been used in physics for about 300 years. Scientifically, it is referred to as the “action.” The action involved with an object’s motion is directly proportional to that object’s mass, the distance it travels, and the speed with which it travels.
   
    Said again, mathematically:
   
    $$Action ∝ Distance * Mass * Speed$$

    ###Work and Energy
   
    You may know from physics that energy is a measure of the ability to do work. Work is the conversion of one form of energy into another, but it is more simply defined as the application of a force through a distance. For example, we say that work is done as you fight friction to pull a sled through the snow. To keep the sled moving at a constant speed, you must pull with just enough force to counteract the frictional drag. The amount of work you do depends on how far you pull the sled and how hard you pull it. The chemical energy in your muscles is converted into motional energy in the sled (doing work). This motional (based on motion) or “kinetic” energy is converted to heat (thermal energy) by friction (doing work against you).
   
    Kinetic energy is represented mathematically by
   
    $$T=12mv^{2}$$
   
    where T is the kinetic energy, v is the velocity, and m is the mass of an object.
   
    Objects can have a positional (based on position) or “potential” energy. For example, a marble that is about to drop off of a skyscraper has more gravitational potential energy than one on the ground because of its potential to build a high kinetic energy. The work that changes this potential energy into kinetic energy is done by gravity (in this example). If we are only considering objects near the earth’s surface, we can pretend that gravity is uniform... that is to say... it is the same everywhere. The potential energy may then be written as
   
    $$U=mgh$$
   
    where U is the potential energy, m is the mass of the object, g is the acceleration of free-falling objects in gravity, and h represents the object’s height from the ground.
   
    This expression implies that there is no potential energy at h = 0. Actually, it doesn’t matter where we say that there is no potential energy, because an object’s total energy can never be completely defined. Changes in energy are the real business. The potential energy is just called zero wherever will make the problem easier. Here, we’ll say it is zero at the ground. The change in energy from one point to another won’t be affected.

    ###The Relationship between Energy and Action
   
    Anyway, you are probably wondering what the big deal is, but bear with me a minute, for there is still more that I must show you. You see, the action I mentioned before has a funny relationship with work and energy. Remember that the units of action go something like “mass*speed*distance?” What if I divide that distance by time? Well, we would end up with mass*speed*speed. “By Jove!” you might say... ok, maybe you’re not that big of an egghead, but you might get excited. After all, these are the same units as kinetic energy! What if, instead of the distance, we divide the speed by time? We would end up with mass*acceleration*distance. These are the same units found in gravitational potential energy! We’ve stumbled upon something great here.
   
    $$Action / Time = Energy$$
   
    (by units alone, mind you)
   
    $$Action=Energy * Time$$
   
    (if you prefer)
   
    I might tell you something like, “the action is actually work done through a period of time.” Nobody really believes that. If I told you that, some angry physicist would try to shoot me, probably with a high energy beam of protons. It’s funny, though: these are, in fact, the units of Planck’s constant (Joules*seconds to be specific). This makes me want to tell you that this important constant represents the quantization (partition) of action, but the physics gods would probably rain down on me with a mighty wind of ionizing radiation or something...
   
    Anyway... I said the action could be the work done through a period of time. Doesn’t that contradict the idea that doing something twice as fast requires twice the action? If you hiked that trail twice as fast as you had intended, you would have finished it in half of the time, doing the same amount of work. Well, it turns out that the relationship between action and energy is much more complicated than that. It is far too easy to see one idea, call it something that it isn’t, and not think about the implications. We need to take a closer look at what is going on here. Let’s chart out the energies and the action for that trip through the Old Oak Way.
   
    We’ll say there is no potential energy at the bottom of the trail, and that the maximum is at the top of the peak. In charts 1 and 2, I plotted out the potential and kinetic energies along the journey for walking slow and for walking fast. What if we write down the difference between your kinetic energy and your potential energy at each point along the path? Well, we’ll end up with something that looks like chart 3.

    Relative Energies for 2mph
  %img{:src=>'/img/least-action-1.png'}
  :markdown
    Relative Energies for 3mph
  %img{:src=>'/img/least-action-2.png'}
  :markdown
    **Charts 1 (above) and 2 (below):** Relative kinetic and potential energies for the first half of the journey (Normally, your kinetic energy is MUCH less than your potential energy while hiking up a hill. In this example, the trail is very shallow.)
   
    Remember that action is some form of energy, multiplied by time. We pick a time interval and list all of the energy differences that are separated by it. We add them all up and then multiply by the interval (for the math wiz, I mean that we integrate the energy difference over time). Look at chart 4, and you will see that, at the end of your trip (represented by the solid circle on the graph), this sum of differences will be greater if you move quickly than it will be if you move slowly... In other words, moving more quickly uses more effort! What I’m trying to show you is that the action is this very sum of energy differences, added up (integrated) over time.

    Relative Energy Differences
  %img{:src=>'/img/least-action-3.png'}
  :markdown
    Integration of Relative Energy Differences
  %img{:src=>'/img/least-action-4.png'}
  :markdown


    **Chart 3 (above)** shows the relative energy difference for each speed.

    Each point on **chart 4 (below)** represents the sum (integration) of all previous energy differences at short time intervals along the path. The solid circle at the end of the plot represents the total action at the end of the trip.
   
.column
  :markdown
    ###Evidence that Action is Minimized by Inanimate Objects
   
    What if inanimate objects naturally behaved in a way that minimizes the action for everything they do? Let’s think about dropping something – a marble – from a tall building. (Yes, I know; forget air resistance for a minute. We just want to think about one object, and air resistance is more like a bunch of tiny objects colliding with a larger one as it moves through them.)
   
    You probably know that, as objects fall in gravity, they start out slow and then speed up (in other words, they accelerate). In a uniform gravitational field (without air resistance), we know that they fall with a constant acceleration. Physicists like to call this acceleration ‘g.’ Ignoring air resistance, the height of an object, starting from rest, can be written, mathematically in this way:
   
    $$h=h_{0}-12gt^{2}$$
   
    where ‘h’ is the height at time ‘t’ and ‘h0’ is the initial height. The velocity will point toward the ground, and its magnitude can be related to time by the following equation:
   
    I’m going to estimate and use numbers that make the math come out clean (I hate using calculators). The mass of the object is about 1 kilogram, the initial height is 20 meters, and the final height is 0 meters. Gravity is almost 10 meters per second per second, so the time is about 2 seconds, the initial speed is 0 meters per second, and the final speed is about 20 meters per second. **Charts 5 and 6** show the energies and action for this motion.

    Energy in Joules
  %img{:src=>'/img/least-action-5.png'}
  :markdown
    Action in Joules * Seconds
  %img{:src=>'/img/least-action-6.png'}
  :markdown

    Chart 5 (above): shows the observed energies of the marble at each point in time along its fall.

    Chart 6 (below): shows the exerted action during the fall.
   
    To give you a comparison, let’s imagine that this marble, instead of behaving normally, falls with a constant velocity. To move 20 meters in 2 seconds, it would have to travel at 10 meters per second. **Charts 7 and 8** show the energy differences and the action for this motion. **Chart 8** also compares the actions of the two trajectories. Notice that the actual motion has less action than the imagined motion.

    Energy in Joules 
  %img{:src=>'/img/least-action-7.png'}
  :markdown
    Action in Joules * Seconds
  %img{:src=>'/img/least-action-8.png'}
  :markdown
    **Chart 7 (above):** energies for falling with constant velocity through 20 meters for 2 seconds in a uniform gravitational field

    **Chart 8 (below)** the action for this process as compared to naturally observed motion
   
    You can use any arbitrary function to model the movement of this marble as it falls from the building. What you will see is that the trajectory with the least action is the trajectory that occurs in nature. This is a deeply philosophical and vastly powerful concept in physics. It was first studied by Pierre Louis Maupertuis in the early 18th century. He called it “The Principle of Economy,” because he believed that a minimization (or maximization) of the action was somehow economical (perhaps all he meant by economy was the pursuit of an extreme, but I don’t know so I won’t put words in his mouth). In any case, there is an entire branch of mathematics devoted to studying this idea and others related to it. It is known as the calculus of variations or variational calculus.

    ###Implications of the Principle of Economy
   
    Perhaps you’ve read Virgil’s Aenead. In it, Aeneas, the protagonist, mighty hero of fallen Troy, has a passionate love affair with the Carthaginian queen, Dido. Dido, the founder of Carthage, was honored for her cunning, wisdom, and remarkable leadership. Fleeing her home of Tyre, she sought land from leaders in the northern part of Africa. Eventually, in jest, king Hiarbas agreed to give her as much land as she could cover with a bull’s hide. Dido, by craft and wit, cut the hide into many thin strips, tying them together into a long rope. Even then, millennia ago, she knew that she would be able to enclose more area with a circle than with a square. By creating a circular perimeter, she managed to get a large plot. She named her land Byrsa after the bull.
   
    This is the gist of all problems in variational calculus: given certain conditions, how do we minimize a particular quantity? For a common example, given a particular volume, what shape will a soap bubble take to minimize the tension across its surface? The question we ask is simple but very difficult to answer. Given a potential energy field around an object and its kinetic energy, what trajectory will minimize the action (the sum of energy differences along its motion)?
   
    Studying this question leads to a mathematical relationship that must be satisfied for all motion. This relation, applied by Joseph Louis Lagrange, spawned a revolution in mechanical theory. Quoting Lagrange from his first publication on the subject, “The reader will find no figures in this work. The methods which I set forth do not require either constructions or geometrical or mechanical reasonings: but only algebraic operations, subject to a regular and uniform rule of procedure.” This new “Lagrangian mechanics” requires only that the kinetic energy and the potential energy be defined by some coordinate system. The formula takes these energies, along with any constraints on the system, and transforms them into equations for motion in the established coordinates. If you are particularly mathematically inclined, I would refer you to Richard Feynman’s lectures on the subject. He goes more in depth and discusses the means by which this relationship is determined.
   
    The creepy thing about all of this is that, from this silly philosophical notion, the motion of bodies in space can be determined. Before the birth of Lagrangian mechanics, Newton’s laws were founded upon induction, alone. Believing something like this is a big leap that many students and scientists are unwilling to take (for a good reason). It is important to be skeptical of all things in science, even your own ideas, and abandoning the tinker-toy perspective that most of us grow up with takes time. By the calculus of variations, the universe begins to appear more geometric; force becomes meaningless, replaced by energies and curvatures. Instead of saying “the marble was propelled downward by the force of gravity,” it is said that, “The marble traveled through the path of least resistance. The action of its trajectory was minimized, as with all in nature.”
   
    You may be thinking, “Quaint, but what about electricity and magnetism? What about quantum mechanics and relativity? How does variational calculus apply to these?” The “path of least resistance,” a related concept has been used to describe the behavior of light waves in optical systems. The Schrödinger equation, an integral part of quantum theory, was developed with this variation of calculus in mind. In fact, this idea manifests itself continually throughout higher-level physics in very subtle ways that are easily overlooked but present, nonetheless.
   
    So if all processes, great or small, minimize this “action,” then what does that say about our universe? Is it not a small step to apply this variational freedom to our idea of reality, itself? Allow the universe to behave in any random, abstract, crazy way, and you will find that the universe that manifests itself in our reality is the one in which all processes minimize their action. This has been seen as a beautiful and compelling idea to several philosophers of old, such as Gottfried William Leibniz. In fact, it was integral to his perception of God and the Devine, for he (among others) believed that, by these principles, he had mathematical evidence that our universe is the most “economical” of all existences and that such perfection must have a creator. Its governance over quantum mechanics and other theories can be used to argue for determinism in a way that challenges their probabilistic interpretations. It is evidence that the turn of events are not purely random, that no matter how chaotic and indistinguishable the pulsing of electric fields in the brain may be, the behavior of every point in space is conditional upon its geometry (or should I say... the state of its vicinity). It seems apparent that the only hypotheses to contest determinism by economy would involve the existence of multiple processes that share an equivalent, yet minimal action. Some believe that degenerate (equivalent energy) states of particle waves in quantum physics do exactly that.
   
    As many determinists have said, the universe can appear to be an intricate machine – a compelling work of art, perhaps without purpose, but not without beauty –perfected by a magnificent artist, spawned from oblivion, or having a birthless and deathless life. Yet, if everything is simply a reaction to a previous disturbance, you may ask “What was the original perturbation? From whence did it come? Was there ever stillness?” It may sound silly to you, but there is a Hindu fable for creation that involves such an initial vibration.
   
    Anyway, to advocate the devil, I’ll mention that you could imagine an entirely different universe with an entirely different emphasis... like minimizing the integration of the sum or multiplication of energies or something... Still, no matter how subjective reality may be, and no matter how many fanciful ideas you can revel in, this idea of minimizing action does lead to definite and disprovable predictions about the behavior of particles, fields, waves, and curvatures. Therein lies its power. It is a mathematical tool and a hint about the nature of our reality. More compelling, in my opinion, than anything discovered since.
