.column
  :markdown
    ##March 25, 2012
    I had been watching Diaspora since before its first release. It is an excellent idea, and I almost couldn't bear my anticipation for a private, secure social networking system.
    
    Patrick McKenzie produced an <a href="http://www.kalzumeus.com/2010/09/22/security-lessons-learned-from-the-diaspora-launch/">excellent article</a> that documents some egregious security errors in Diaspora. He points out some good basics that every web developer should be aware of (authentication v. authorization, input sanitizing, and more).
    
    Go check it out!
