<?php
if(isset($_POST['email'])) {
?>
<div class="contactform">
<?php

    // EDIT THE 2 LINES BELOW AS REQUIRED
    $email_to = "jnbangerter@gmail.com";
    $email_subject = "justinbangerter.com - inquiry";

    function died($error) {
        // your error code can go here
        echo "<p>We are very sorry, but there were error(s) found with the form you submitted.</p>";
        echo "<p>These errors appear below.</p>";
        echo $error;
        echo "<p>Please <a href='javascript:window.history.go(-1);'>go back</a> and fix these errors.</p>";
        die();
    }

    // validation expected data exists
    if(!isset($_POST['first_name']) ||
        !isset($_POST['email']) ||
        !isset($_POST['comments'])) {
        died('<p>You forgot to fill out one of the fields.</p>');
    }

    $first_name = trim($_POST['first_name']);
    $bustah = $_POST['bustah'];
    $email_from = trim($_POST['email']);
    $comments = trim($_POST['comments']);

    $error_message = "";
    $email_exp = '/^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/';

  if(!preg_match($email_exp,$email_from)) {
    $error_message .= '<p>That doesn\'t look like an email address.</p>';
  }

    $string_exp = "/^[A-Za-z0-9 .'-]+$/";

  if(!preg_match($string_exp,$first_name)) {
    $error_message .= '<p>Check your name. Only use letters, numbers, or ,\'-</p>';
  }

  if(strlen($bustah) > 0) {
    $error_message .= '<p>Busted!</p>';
  }

  if(strlen($comments) < 2) {
    $error_message .= '<p>You didn\'t make any comments.</p>';
  }

  if(strlen($error_message) > 0) {
    died($error_message);
  }

    $email_message = "Form details below.\n\n";
    $email_message .= "Replies to this email will be sent to the provided address.\n\n";

    function clean_string($string) {
      $bad = array("content-type","bcc:","to:","cc:","href");
      return str_replace($bad,"",$string);
    }

    $email_message .= "First Name: ".clean_string($first_name)."\n";
    $email_message .= "Email: ".clean_string($email_from)."\n";
    $email_message .= "Comments: ".clean_string($comments)."\n";

// create email headers
$headers = 'From: '.'contact@justinbangerter.com'."\r\n".
'Reply-To: '.$email_from."\r\n" .
'X-Mailer: PHP/' . phpversion();
@mail($email_to, $email_subject, $email_message, $headers);
?>


<p>Thanks, we'll be in touch!</p>
<p>Your email: <?php echo htmlspecialchars($email_from, ENT_QUOTES) ?></p>

</div>

<?php
}
?>
<div class='column'>
    <form class="contactform" name="contactform" method="post" action="">
        <h2>Get in touch!</h2>
        <h3>What can I do for you?</h3>
        <fieldset>
            <input  type="text" placeholder="Name" name="first_name" maxlength="80" size="30">
        </fieldset>
        <fieldset>
            <input  type="text" placeholder="Email" name="email" maxlength="80" size="30">
        </fieldset>
        <fieldset>
            <textarea  name="comments" placeholder="Type your message here..." maxlength="1000" cols="25" rows="6"></textarea>
            <input  type="hidden" name="bustah" maxlength="80" size="30">
        </fieldset>
        <fieldset>
            <button type="submit" submit="..Sending">Send Email</button>
        </fieldset>
    </form>
</div>
