.column
  %img{:src=>'/img/me.jpg', :style=>'padding-top:1.5em;'}
  :markdown
    You want to know about me?? Awesome!

    I graduated from Virginia Tech in Physics with a minor in Chemistry during the peak of the 2009 recession.

    I started writing scripts and playing with extended memory when I was six years old.
    During that time, I dabbled with Linux-based operating systems and web applications.
    I enjoyed the hobby so much that I turned it into a career.
