.column2
  :markdown
    ## Familiar Technologies
    
  %table
    %tr
      %td Languages
      %td Python, JavaScript, Java, CoffeeScript, HAML, SASS, Bash, Ruby, PHP
    %tr
      %td>Databases
      %td>MySQL, LDAP, Postgres, SQLite, MongoDB
    %tr
      %td Frameworks
      %td Pylons, Django, Sinatra, Swing, SWT, Servlet, Codeigniter
    %tr
      %td Libraries / Packages
      %td WebDriver, Foundation, Compass, D3, Bootstrap, JUnit, SWTBot, JNDI, jQuery/Zepto, OpenLayers, Ext JS
    %tr
      %td Packaging / Building
      %td virtualenv, RVM, Jenkins, Maven, Buckminster, Ant
    %tr
      %td VCS / Bug Tracking
      %td Git, SVN, Mercurial, Bugzilla, GitHub, Bitbucket, Assembla
    %tr
      %td Servers / Hosting
      %td Pylons, Nginx, Django, Apache, Tomcat, JBoss, XAMPP, Sinatra, Heroku, Dreamhost, Digital Ocean, Amazon S3

  :markdown
    ## Experience
  .lcr.clearfix
    .left Founder
    .center Relevo
    .right Roanoke, VA
  .description.clearfix
    .duration April 2016 - Present
    :markdown
      * Developed a native application launcher that is triggered by a web browser, compatible with Mac OSX, Windows 10, Firefox, IE, Edge, Chrome, & Safari
      * Developed new capabilities for a CKEditor-based lesson editor at SoftChalk
      * Developed an LTI Content Provider for SoftChalk
      * Developed a rate-limited WebDriver-based blog scraper capable of interpreting blogs with diverse layouts and markup
  .lcr.clearfix
    .left Web Applications Developer
    .center SoftChalk LLC
    .right Richmond, VA
  .description
    .duration April 2014 - May 2016
    :markdown
      * Sole maintainer and developer of a CKEditor-based lesson editor that is usable from a browser and backward compatible with a Java-based desktop lesson editor application
      * Integrated JavaScript "widgets" for use in iBooks and Readium
      * Migrated database schemas and underlying architecture
      * Established Selenium test framework
      * Redesigned administrative interface
      * Implemented various features and improvements
  .lcr.clearfix
    .left Freelance Web Developer
    .center Self Employed
    .right Blacksburg, VA
  .description
    .duration September 2013 - March 2014
    :markdown
      * Converted Wordpress blogs to static sites (Foundation, ERB, SCSS, Middleman)
      * Developed a (food) canning calculator app (Foundation, ERB, SCSS, Middleman)
      * Google Maps API integration into a jQuery widget
  .lcr.clearfix
    .left CEM/Founder
    .center Relevo LLC
    .right Blacksburg, VA
  .description.clearfix
    .duration April 2012 - December 2013
    :markdown
      * Designed and developed myaveragesalary.com (D3, Sinatra, MySQL)
      * Designed and developed dogetab.com (Middleman, Backbone)
      * Designed and developed thoughtjotter.com (Django, Postgres, Heroku, Bootstrap)
      * Designed and developed boothmenu.com (Django, Bootstrap, dicontinued)
      * Designed and developed makechart.com (CoffeeScript, HAML, CSS, D3)
      * Setup PayPal IPN processing
      * Setup internal CentOS server with continuous integration
  .lcr.clearfix
    .left Software Engineer / QA Lead
    .center Harmonia Holdings Group, LLC.
    .right Blacksburg, VA
  .description.clearfix
    .duration Februrary 2011 - June 2013
    :markdown
      * Started as a tester, became QA Lead, then moved on to development
      * Lead five part and full-time QA employees on six projects
      * Designed and developed a catalog search page in EXT Js
      * Developed a pluggable OpenLayers map widget for produt search and registration
      * Developed a servlet-based service to identify and email users about expiring passwords
      * Contributed to deployement scripts for JBoss, LDAP, Postgres, and Liferay servers to CentOS
      * Developed a bash script to deploy changes from a workspace directly to a local server instance
      * Established continuous integration for several projects using Hudson / Jenkins
      * Built tests and custom frameworks in SWTBot and WebDriver
      * Developer of the Month: July 2011
      * Rookie Developer of the Year: 2011
  .lcr.clearfix
    .left CTO
    .center Project Free Airfare (PFA Trips)
    .right Blacksburg, VA
  .description.clearfix
    .duration October 2012 - December 2012
    :markdown
      * Interfaced with dohop deals API through their affiliate program using SOAP and WSDL
      * Worked with a designer to implement a custom navigation menu representing sales funnel stages
      * Modified an HTML5 thermometer widget to respond to user input
  :markdown
    ## Education
    __B.S. Physics, Minor Chemistry, May 2009__ Virginia Tech, Blacksburg, VA

:sass
  h2
    padding-top: .5em

  h2, .lcr
    text-shadow: 1px 1px #000

  tr td:first-child
    text-align: right
    vertical-align: top
    font-weight: 700

  td
    padding-top: 1em
    padding-left: .5em

  .lcr
    margin-top: 3em
    font-weight: 700

  .subtle-click:hover
    color: #CCC
    cursor: pointer

  .lcr div
    float: left
    width: 33%

  .lcr .right
    text-align: right

  .lcr .center
    text-align: center

  .duration
    margin-bottom: .5em

