.column
  :markdown


    ###Examples of My Work:

    * [My Portfolio Website] (https://relevo.tech/portfolio/)
    * [Github] (https://github.com/justinbangerter/)
    * [Bitbucket] (https://bitbucket.org/justin_bangerter)
    * [My Resume] (/resume.html)
   
-#.column
  -#  :markdown
    ###Services
    * Page loading optimization
    * CentOS/RHEL server setup
    * Configure iptables
    * Setup ssh keys
    * Web Design / Development
      * JavaScript
      * Java
      * Python / Django
      * Bootstrap
      * JQuery
      * Google App Engine
      * MySQL
      * PostgreSQL
    * Write automated tests + build supporting infrastructure
   
    ###Things I Have Done:
   
    * Various forms of page loading optimizations
    * Setup Google Adwords and Analytics campaigns
    * Setup various hosted Web Apps on local and virtual servers
      * Jenkins (On CentOS)
      * Wordpress (On CentOS + Apache)
      * Mediawiki (On CentOS + Apache)
      * Django Projects (On various platforms)
      * Heroku Projects
      * Apache hosted projects
    * Setup iptables (including blocking ssh brute force attacks)
    * Setup ssh keys (including disabling password entry)
    * Built a Search Page for ESRI Geoportal in Ext JS
    * Wrote Automated Tests
      * Junit 3 and 4
      * Django unit tests
      * WebDriver on a Selenium Grid
      * Setup Continuous Integration Servers
      * Used Watir to write a sudoku solver

:sass
  .column li
    padding-top: .25em
