.column
  :markdown

    ##What to Expect

    I have been tutoring math, chemistry, and physics to kids, teenagers, and adults since 2003.
    I am open to tutoring anyone at any level from elementary math to college level physics.
    If you are curious, just ask and I will be happy to provide more details.

    When you contact me, tell me about your goals and availability.
    I hold most sessions at the [Barnes and Noble on Electric Road by the Tanglewood Mall in Roanoke.](https://stores.barnesandnoble.com/store/2870)
    If you would like to meet somewhere else, please ask.

    During the first meeting,
    I try to get a feel for where you are in relation to your goal and come up with an action plan for getting you there.
    Bring any homework, quizzes, or material that you would like to review.

    We will go over example problems together and I will help you discover and work on any
    weaknesses in your understanding.

    For home-study students, I will provide homework if needed.

  = render :erb, '_contact.erb'

  .materials
    :markdown
      ###Things that you can bring to help (optional)

      * Notes
      * Textbooks
      * Previous Exams and Assignments
      * Your Syllabus

  .guidelines
    :markdown
      ##Guidelines

      ####Late Policy
      * Cancel deadline: 24 hours in advance
      * Reschedule deadline: 12 hours in advance
      * Late appearances: 15 minutes grace
      * Neglecting these policies will result in a $10 fine that must be paid before further tutoring.

      ####Location
      * Primarily: the Starbucks in the [Barnes and Noble on Electric Road by the Tanglewood Mall in Roanoke](https://stores.barnesandnoble.com/store/2870)
      * Coffee Shops
      * Study Halls
      * Libraries

      ####Availabilty
      * Weekends and evenings.
      * If I can't give you 24 hour notice before rescheduling, you get a session at half-price.

      ####Payment
      * $45 per hour per person
      * Financial assistance available
      * Discounted rate for bundled tutoring (more that one student studying the same subject at the same time)
      * Cash or check only
      * Checks payable to Justin Bangerter
      * No money orders or credit cards

  = render :erb, '_contact.erb'


.column
  .subjects
    :markdown
      ##Subjects

      * Math
        * Geometry/Trigonometry
        * Algebra
        * Calculus I (Single Variable)
        * Multivariable Calculus
        * Vector Calculus/Geometry
        * Differential Equations
        * Linear Algebra
        * Lagrange Transforms and Fourier Series
        * Complex Analysis
      * Physics
        * Introductory Physics
        * Electricity and Magnetism
        * Analytical Mechanics
        * Relativity
        * Quantum Mechanics
      * Chemistry
        * General
        * Physical
        * Analytical

  = render :erb, '_contact.erb'

:sass
  .subjects
    ul
      padding:
        left: 1.5em
