.column
  :markdown

    ##Tutoring in Roanoke, VA

    ###What to Expect

    I have tutored math, chemistry, and physics to kids, teenagers, and adults since 2003.
    I ask a lot of questions and use various techniques to encourage active recall, which is proven to help students retain information.
    My goal is not to lecture you for an hour.
    My goal is to guide you as you develop new skills and overcome whatever stands in your way.

    Sessions are $45 per hour. The first hour of the first session is $20.

    I hold most sessions at the [Barnes and Noble on Electric Road by the Tanglewood Mall in Roanoke.](https://stores.barnesandnoble.com/store/2870)
    If you would like to meet somewhere else, please ask.

    When you contact me, tell me about your goals (study for a test, improve grade, etc...) and availability.

    During the first hour,
    we will work together and come up with a plan to get you where you want to be.

    Bring any homework, quizzes, or material that you would like to review.

    I look forward to working with you!

  = render :erb, '_contact.erb'

  :markdown
    ##Statements from Students and Parents

    "He is really good at going over the basics (of algebra)!"

    "You are very understanding."

    "Thank you for being so patient."

    "Thanks for your help! I got an A on my (physics) test! I will tell my friends about you!"

    "Yeah, I got a hundred on that (chemistry test)!"

    "The good news is that I got a C on my last (calculus) test!"

    "He just wasn't motivated before, but I can see that he is trying. I think we have you to thank for that."

    "You gave him a fighting chance."

  .guidelines
    :markdown
      ##Guidelines

      ####Late Policy
      * Cancel deadline: 24 hours in advance
      * Reschedule deadline: 12 hours in advance
      * Late appearances: 15 minutes grace
      * Neglecting these policies will result in a $10 fine that must be paid before further tutoring.

      ####Location
      * Primarily: the Starbucks in the [Barnes and Noble on Electric Road by the Tanglewood Mall in Roanoke](https://stores.barnesandnoble.com/store/2870)
      * Mill Mountain Coffee by Buffalo Wild Wings and the Tanglewood Mall (quieter, but low light)
      * Local College Libraries / Study Halls
      * The South County Library in Roanoke

      ####Availabilty
      * Weekends and evenings.
      * If I can't give you 24 hour notice before rescheduling, you get a session at half-price.

      ####Payment
      * $45 per hour per person
      * Financial assistance available
      * Discounted rate for bundled tutoring (more that one student studying the same subject at the same time)
      * Cash or check only
      * Checks payable to Justin Bangerter
      * No money orders or credit cards

  = render :erb, '_contact.erb'


.column
  .subjects
    :markdown
      ##Subjects

      * Math
        * Geometry/Trigonometry
        * Algebra
        * Calculus I (Single Variable)
        * Multivariable Calculus
        * Vector Calculus/Geometry
        * Differential Equations
        * Linear Algebra
        * Lagrange Transforms and Fourier Series
        * Complex Analysis
      * Physics
        * Introductory Physics
        * Electricity and Magnetism
        * Analytical Mechanics
        * Relativity
        * Quantum Mechanics
      * Chemistry
        * General
        * Physical
        * Analytical

  = render :erb, '_contact.erb'

  .materials
    :markdown
      ###Things that you can bring to help (optional)

      * Notes
      * Textbooks
      * Previous Exams and Assignments
      * Your Syllabus


:sass
  .subjects
    ul
      padding:
        left: 1.5em
